@charset "UTF-8";

input[type="range"] {
    -webkit-appearance: none;
    /* Override default CSS styles */
    width: 300px;
    height: 15px;
    outline: none;
    /* Remove outline */

}

#r1 {
    background: linear-gradient(to right, cyan, red);
}

#g1 {
    background: linear-gradient(to right, magenta, green);
}

#b1 {
    background: linear-gradient(to right, yellow, blue);
}